#chart {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  border: solid 1px black;
  position: relative;
}

.axis-x,
.axis-y {
  position: absolute;
  background-color: white;
  z-index: 10;
  font-size: 12px;
}

.axis-x {
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}

.axis-x .tick {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.axis-y {
  top: 0;
  bottom: 30px;
  left: 0;
  width: 40px;
}

.axis-y .tick {
  display: block;
  width: 40px;
  text-align: right;
}

.bars {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 40px;
  right: 0;
  overflow-x: auto;
}

.bar {
  display: inline-block;
  margin-right: 2px;
}

